@use "variables" as color;
* {
  margin: 0;
  padding: 0;
}
body {
  background: url(https://www.behance.net/gallery/61228185/Lovers-at-dusk-Animated-pixel-art/modules/359660971);
}
.loop-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.5) saturate(250%);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(241, 55, 241, 0.116);
  filter: saturate(100%);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 5vh;
  background-color: color.$header-background;

  &__menu {
    cursor: pointer;
    font-family: PixelFont;
    font-size: 1rem;
    color: color.$link-color;
    display: none;
  }
  &__nav {
    border-radius: 5px;
    display: flex;
    gap: 20rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
  }
  &__nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    display: flex;
    width: 100%;
  }
  &__nav-item {
    float: left;
    text-decoration: none;
  }
  &__nav-link {
    text-decoration: none;
    font-family: PixelFont;
    font-size: 1rem;
    color: color.$link-color;
  }
  &__nav-link:hover {
    color: color.$nav_link-hover;
  }
  &__search-form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  &__search,
  &__search-button {
    border: none;
    background-color: rgba(255, 255, 255, 0.11);
    color: #fffbe2d5;
    border-radius: 5px;
    height: 1.5rem;
  }
}
.header__nav-item--search {
  margin-left: auto;
}

@media (max-width: 870px) {
  .header {
    height: 5vh;
    display: flex;
    align-items: center;
    border-bottom: solid 1px black;
    &__nav {
      position: absolute;
      top: 100%;
      left: -10;
      right: 0;
      display: none;
      z-index: 100;
      margin-right: 0;
    }
    &__nav-list {
      flex-direction: column;
      display: block;
      height: 50vh;
      width: 100%;
      background-color: color.$header-background;
    }

    &__nav-link {
      display: block;
      font-size: 1.2rem;
      padding: 2rem;
      background-color: green;
    }

    &__nav-item {
      width: 100%;
      border: solid 1px black;
    }
    &__nav-item:hover {
      background-color: rgba(85, 85, 85, 0.11);
      border-color: color.$nav_link-hover;
    }
    &__menu {
      display: block;
      cursor: pointer;
      font-family: PixelFont;
      font-size: 1rem;
      color: color.$link-color;
      padding: 0.5rem;
    }
    &__search-form {
      background-color: transparent;
    }
    &__search {
      width: 100%;
      padding: 1.8rem;
      font-size: 1rem;
    }
    &__search-button {
      display: none;
    }
  }

  .header__nav-item--search {
    margin-top: auto;
    border-top: solid 1px rgba(255, 255, 255, 0.2);
  }
  .header:hover .header__nav {
    display: block;
  }
}
