@use "variables" as color;
.hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__title {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: color.$link-color;
    font-family: PixelFont;
    opacity: 0;
    transform: translateY(-300px);
    animation: slideInTop 2.5s forwards;
    top: 60%;
    font-size: 1rem;
  }

  @keyframes slideInTop {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.5) saturate(250%);
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(241, 55, 241, 0.116);
    filter: saturate(100%);
  }
}

@media (min-width: 670px) {
  .hero__title {
    font-size: 2rem;
  }
}
