$nav_link-hover: #8331b9;
$link-color: #00f800;
$border-color: #17ff17;
$header-background: #000000a9;
$signup-background-color: #000000cc;
$font-color: #d1d1d1;
$heading-color: #fff6f6;
$text-color: #a4a4a4;
