@use "../variables" as color;

* {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .form--login {
    height: 60vh;
    text-align: center;
  }
  .form__fieldset--login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form__group--login {
    width: 100%;
  }

  .form__login-button {
    display: block;
    margin: 0 auto;
    margin-top: 4rem;
    border: 1px solid color.$border-color;
    padding: 1.5rem;
    border-radius: 5px;
    font-size: inherit;
    color: color.$link-color;
    background-color: inherit;
    outline: none;
    font-family: PixelFont, sans-serif;
    &:hover {
      color: color.$nav_link-hover;
      border: solid 1px color.$nav_link-hover;
    }
  }
}
